body {
  background-color: #e69900;
}

h1 {
  text-align: center;
}

#usrStoriesId {
  margin-left: 2em;
}

#examplesId {
  margin-left: 2em;
}

#apiTestsId {
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 2em;
  padding-bottom: 10em;
}

/* shared <form /> attributes */

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 9em;
  height: 1em;
}

textarea {
  width: 9em;
  height: 2.1em;
}

button {
  width: 8em;
  cursor: pointer;
}

button:active {
  background-color: #e69900;
  outline: none;
  transform: translateY(0.5em);
}

/* shared <form /> attributes end */

.formContainer {
  margin-bottom: 2em;
}

/* update issue <form /> */

#checkBox {
  height: 1.2em;
  margin-left: 0em;
}

#checkBoxText {
  margin-left: -5em;
}

/* <Footer /> */

#footer {
  text-align: center;
  margin-top: 2em;
}