body {
  background-color: #e69900;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

#apiTestsId {
  margin-top: 3em;
  margin-left: 1em;
}

#viewProjIssues {
  margin-top: 3em;
}

#filterUl {
  margin-top: -0.5em;
  margin-left: -1em;
}

#usrStoriesToggle {
  text-align: center;
  width: 12em;
  height: 1.5em;
  padding-top: 0.5em;
  border: 0.1em solid black;
  cursor: pointer;
  margin-top: 2em;
  margin-left: -0.2em;
}

#arrowSpan {
  font-size: 0.7em;
}

#usrStoriesId {
  margin-left: -1.5em;
  width: 75%;
}

ol li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#examplesId {
  width: 75%;
}

/* shared <form /> attributes */

form {
  display: flex;
  flex-direction: column;
  width: 10em;
}

input {
  width: 9em;
  height: 1em;
}

textarea {
  height: 2.5em;
  width: 9em;
}

button {
  margin-top: 0.2em;
  width: 8em;
  cursor: pointer;
}

button:active {
  background-color: #e69900;
  outline: none;
  transform: translateY(0.5em);
}

/* shared <form /> attributes end */

.formContainer {
  margin-bottom: 2em;
}

/* update issue <form /> */

#checkBox {
  height: 1.2em;
  position: relative;
  right: 0.5em;
}

label {
  margin-left: 0;
  padding-left: 0;
}

form span {
  font-size: 0.8em;
}

/* <Footer /> */

#footer {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}